#root {
  margin: 0 auto;
  text-align: center;
  background-color: transparent;
}
.ProseMirror {
  border: none;       /* removes border */
  outline: none;      /* removes focus outline */
  box-shadow: none;   /* removes any shadow */
}



